body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. */
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  position: relative;
  background-position: center;
  background-size: cover;
  min-height: 20em;
}

.jumbotron-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.jumbotron-contents {
  color: #f7f791;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 2em;
  text-align: center;
}

.jumbotron-title {
  font-size: 6em;
}

.narrow-container {
  padding-left: 40px;
  padding-right: 40px;
}

.profile-header {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.profile-name {
  font-weight: inherit;
  margin-bottom: 30px;
}

.profile-tags {
  font-weight: 700;
}

.profile-address {
  font-weight: 700;
}

.profile-content {
  margin-bottom: 50px;
}
.portfolio-item {
    margin-bottom: 25px;
}

.list-background {
  position: relative;
  background-size: cover;
  height: 300px;
}

.bottom-cover {
  background: rgba(0,0,0,0.25);
  padding: 0 1em;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.studio-list-name {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2em;

}

#studioMap {
  padding-bottom: 100%;
}

footer {
    margin: 50px 0;
}

.modal-container h1 {
  text-align: center;
  font-size: 1.8em;
  //font-family: roboto;
}

.ngdialog.ngdialog-login .ngdialog-content {
  max-width: 350px;
}

.btn-block {
  padding: 17px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.login-help {
  font-size: 12px;
  color: grey;
}

.login-help a {
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}
