<div class="container">
  <!-- Portfolio Item Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">{{artist.name}}
              <small>acrylic / watercolour / glass</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

      <div class="col-md-8">
          <img class="img-responsive" src="{{artist.image}}" alt="">
      </div>

      <div class="col-md-4">
          <p>{{artist.description}}</p>
      </div>

  </div>
  <!-- /.row -->
</div>
