<div class="row">
    <div class="col-sm-12">
      <div class="detail-title">
        <h1>{{ artist.name }}</h1>
      </div>
    </div>
    <div class="artist-detail">

        <div class="col-sm-6">
            <p>{{ artist.description }}</p>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="detail-img" src="{{ artist.image }}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>
