<div class="container">
  <div class="jumbotron">
      <h1>Events</h1>
  </div>

<div class="row">
  <div class="col-xs-12">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-markers models="markers" coords="'geopoint'"
        idKey = "'id'" modelsbyref="true" icon="'icon'">
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>
  <!-- /.row -->
  <ul>
    <li class="row" ng-repeat="entry in events">
      <div class="col col-xs-9">
        <h2>{{ entry.date | date : 'EEEE d MMMM'}}</h2>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="event in entry.events">
            <div class="row">
              <div class="col col-xs-4">
                <div class="event-list-img" style="background-image: url({{event.image}});"></div>
              </div>
              <div class="col col-xs-8">
                <h3>{{event.name}} <span class="badge">{{event.studio_number}}</span></h3>
                <p>{{event.media_type}}</p>
              </div>
            </div>
          </li>
        </ul>
        <!--
          <a ui-sref="app.events.detail({id:event.id})">
              <div style="background: url({{ event.image }})" class="list-background">
                <div class="bottom-cover">
                  <p class="event-list-name">{{ event.name }}</p>
                  <p class="event-list-media">{{ event.media_type }}</p>
                </div>
              </div>
          </a>-->
      </div>
    </li>
  </ul>
  <!-- /ul.row -->
</div>
