<div class="container">
  <div class="jumbotron">
      <h1>Events</h1>
  </div>

  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-markers models="events" coords="'geopoint'"
      idKey = "'id'" modelsbyref="true" icon="'icon'">
    </ui-gmap-markers>
  </ui-gmap-google-map>
  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Events
              <small>A-Z</small>
          </h1>
      </div>
  </div>

  <!-- /.row -->
  <!-- Event entry -->
  <div class="row">
    <div ng-repeat="event in events">
      <div class="col-md-4 col-sm-6 portfolio-item">
          <a ui-sref="app.events.detail({id:event.id})">
              <div style="background: url({{ event.image }})" class="list-background">
                <div class="bottom-cover">
                  <p class="event-list-name">{{ event.name }}</p>
                  <p class="event-list-media">{{ event.media_type }}</p>
                </div>
              </div>
          </a>
      </div>
    </div>
  </div>

  <hr>

  <!-- Pagination -->
  <div class="row text-center">
      <div class="col-lg-12">
          <ul class="pagination">
              <li>
                  <a href="#">&laquo;</a>
              </li>
              <li class="active">
                  <a href="#">1</a>
              </li>
              <li>
                  <a href="#">2</a>
              </li>
              <li>
                  <a href="#">3</a>
              </li>
              <li>
                  <a href="#">4</a>
              </li>
              <li>
                  <a href="#">5</a>
              </li>
              <li>
                  <a href="#">&raquo;</a>
              </li>
          </ul>
      </div>
  </div>
  <!-- /.row -->
</div>
