<div class="ngdialog-message">
  <div class="loginmodal-container">
    <h1>Login to OpenStudio</h1><br>
    <div>
      <form ng-submit="login()">
        <div class="form-group">
          <label class="sr-only" for="username">Username</label>
          <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="loginData.username">
        </div>
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="loginData.password">
        </div>
        <!--<div class="checkbox">
          <label>
            <input type="checkbox" ng-model="rememberMe"> Remember me
          </label>
        </div>-->
        <button type="submit" class="btn btn-info btn-block">Login</button>

        <div class="login-help">
          <a class="cursor-pointer" ng-click="register()">Register</a> -
          <a class="cursor-pointer" ng-click="openReminder()">Forgotten Password</a>
      </form>
    </div>
  </div>
</div>
