<div class="row">
    <h2>A to Z</h2>
    <div ng-repeat="artist in artists">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
            <a ui-sref="detail({id:artist.id})">
                <div class="panel panel-default" style="background-image: url({{ artist.image }})">
                    <div class="panel-body">
                    </div>
                    <div class="panel-footer">{{ artist.name }}</div>
                </div>
            </a>
        </div>
    </div>
</div>